/*css code for the header section*/
.header {
	text-align: center;
	border-radius:80px 30px 80px 30px;
	background: rgba(227, 223, 236, 0.911);
	padding: 20px; 
	width: auto;
	height: 70px;
}
body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color:white;
    font-family: 'Oxygen', sans-serif;
	background-image: url("images/image11.jpg")
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: white;
}